{{ define "slack.title" -}}
[{{ .Status | toUpper }}] {{ .CommonLabels.alertname }} - {{ .CommonLabels.severity }}
{{- end }}

{{ define "slack.text" -}}
{{ range .Alerts -}}
*Alert:* {{ .Labels.alertname }}
*Severity:* {{ .Labels.severity }}
*Service:* {{ .Labels.service }}
*Affected host/target:* {{ if .Labels.instance }}{{ .Labels.instance }}{{ else }}unknown{{ end }}
*Current value:* {{ if .Annotations.value }}{{ .Annotations.value }}{{ else }}n/a{{ end }}
*Summary:* {{ .Annotations.summary }}
*Dashboard:* {{ .Annotations.dashboard }}
*Runbook:* {{ .Labels.runbook }}
*Status:* {{ .Status }}
{{ end -}}
{{- end }}

